requests==2.28.2
opencv-python==4.6.0.66
pickles==0.1.1
image==1.5.33
mtcnn==0.1.1
cosine-similarity==0.1.2
keras-vggface==0.6
fastapi==0.60.1
uuid==1.30
uvicorn==0.20.0
tensorflow==2.4.1
keras==2.4.3
Keras-Applications==1.0.8
pydantic==1.6.2
typing-extensions==3.7.4
h5py==2.10.0
numpy==1.19.5
six==1.15.0
starlette==0.13.6
grpcio==1.32.0
protobuf==3.19.0
python-multipart==0.0.5
tensorboard==2.11.2

